<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.letsgo.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id property="id" column="id"/>
        <result property="uuid" column="user_uuid"/>
        <result property="mobile" column="user_mobile"/>
        <result property="password" column="user_password"/>
        <result property="nickName" column="user_nickName"/>
        <result property="name" column="user_name"/>
        <result property="idCard" column="user_idCard"/>
        <result property="address" column="user_address"/>
        <result property="headImg" column="user_headImg"/>
        <result property="role" column="user_role"/>
        <result property="email" column="user_email"/>
        <result property="accessToken" column="user_accessToken"/>
    </resultMap>
    <!-- 用户登录 -->
    <select id="selectUser" parameterType="user" resultMap="userMap">
        select `user_uuid`,`user_name`,`user_mobile` from `User` where `user_mobile` = #{mobile} or `user_uuid` = #{uuid}
    </select>


    <!-- 登录功能-创建新用户 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into `User` (`user_mobile`,`user_uuid`,`user_name`,`user_role`)
        select #{mobile},#{uuid},#{name},#{role} from dual
        WHERE NOT EXISTS (select `user_uuid` from `User` WHERE user_mobile = #{mobile})
    </insert>

    <!-- 查询是否存在 mobile -->
    <select id="selectUserByMobile" parameterType="user" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  User where user_mobile = #{mobile}
    </select>

    <select id="selectUserById" parameterType="string" resultMap="userMap">
        SELECT * FROM `User` WHERE user_uuid=#{uuid}
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE `User` SET user_email=#{email},user_headImg=#{headImg},user_idCard=#{idCard},user_mobile=#{mobile},
        user_name=#{name},user_nickName=#{nickName} WHERE user_uuid=#{uuid}
    </update>

    <!-- 验证人脸识别信息 -->
    <select id="selectFaceId" resultMap="userMap" resultType="string">
        SELECT `user_mobile`,`user_uuid`,`user_name` FROM `User` WHERE `user_faceId` = #{faceId}
    </select>

    <!-- 插入人脸识别信息 -->
    <update id="insertFaceId">
        UPDATE `User` SET `user_faceId` = #{faceId} WHERE `user_mobile` = #{userName}
    </update>

</mapper>