
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== 标题 ======-->
    <title>来此购 - 最受欢迎的网页商城</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== 收藏夹图标 ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">


    <!-- CSS============================================ -->

    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">



    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>
<script type='text/javascript' src='https://ykf-webchat.7moor.com/javascripts/7moorInit.js?accessId=a8f55d20-cf05-11ea-8529-298acfcf52e1&autoShow=true&language=ZHCN' async='async'>
</script>
    <!--====== 开头加载 开始 ======-->

    <jsp:include page="header.jsp"/>

    <!--====== 开头加载 结束 ======-->

    <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.jsp">主页</a></li>
                    <li class="breadcrumb-item active">关于我们</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->

    <!--====== About Part Start ======-->

    <section class="about-page pt-20">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image mt-30">
                        <img src="assets/images/slider-5.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-30">
                        <h2 class="title">欢迎来到来此购</h2>
                        <p>来此购于2004年正式涉足电商领域，2019年，来此购集团市场交易额超过2万亿元。2019年7月，来此购集团第四次入榜《财富》全球500强，位列第139位，是中国线上线下最大的零售集团。

                            2014年5月，来此购集团在美国纳斯达克证券交易所正式挂牌上市，是中国第一个成功赴美上市的大型综合型电商平台。2015年7月，来此购凭借高成长性入选纳斯达克100指数和纳斯达克100平均加权指数。

                            2019年全年，来此购集团净收入达5769亿元，归属于普通股股东的净利润达122亿元，创历史最高纪录；研发投入达179亿元，跃升为中国企业中对技术投入最多的公司之一。

                            来此购集团定位于“以供应链为基础的技术与服务企业”，目前业务已涉及零售、数字科技、物流、技术服务、健康、保险、物流地产、云计算、AI和海外等领域，其中核心业务为零售、数字科技、物流、技术服务四大板块。

                            来此购集团奉行客户为先 、诚信、 协作、 感恩 、拼搏 、担当的价值观，目标是成为全球最值得信赖的企业. <br>
                            <br>
                            <br>
                            </p>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="about-items pt-20">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-item mt-30">
                            <h4 class="title"align="Center">我们公司</h4>
                            <p>坚守正道成功，以为社会创造价值为己任
                                来此购坚守“正道成功”的价值取向，坚定地践行用合法方式获得商业成功，致力于成为一家为社会创造最大价值的公司。自创立之初，来此购就秉持诚信经营的核心理念，坚守正品行货、倡导品质经济，成为中国备受消费者信赖的零售平台；来此购坚定“客户为先”的服务理念，大力发展自建物流，保障用户体验，成为领先全球的新标杆；依托于所有来此购人的拼搏和激情，来此购持续十六年保持超过110%的年均复合增长率。来此购以丰富的应用场景和精准的大数据为根基，创新性地在数字科技等领域大胆探索，一次又一次地创造了发展奇迹！

                                与此同时，来此购不忘初心，积极履行企业社会责任，在促进就业、提升社会效率、带动高质量消费、助力实体经济数字化转型、支持新农村建设、推动供给侧结构性改革等方面不断为社会做出贡献。截至目前，来此购集团拥有超过22万名员工，间接带动就业人数超过1500万。2016年始，京东全面推进落实电商精准扶贫工作，通过品牌打造、自营直采、地方特产、众筹扶贫等模式，在全国各地贫困地区开展扶贫工作，上线贫困地区商品超过300万种，实现扶贫农产品成交额超过750亿元。依托强大的物流基础设施网络和供应链整合能力，来此购大幅提升了行业运营效率，降低了社会成本。通过打造高质量消费，来此购以商品和服务为抓手、以技术创新为依托，带动实体经济数字化转型，进一步助力供给侧结构性改革，推动中国经济高质量发展。来此购充分发挥自身优势，整合内外资源，与政府、媒体和公益组织协同创新，为用户、合作伙伴、员工、环境、社会创造价值。.</p>
                        </div> <!-- about item -->
                    </div> 
                    <div class="col-lg-4">
                        <div class="about-item mt-30">
                            <h4 class="title"align="Center">我们的团队</h4>
                            <p>业务团队：
                                他们是一支精英团队。他们具备忠诚品质、守法意识、团队精神、责任意识、开拓精神。他们具备市场营销能力、商务谈判能力、函电处理能力、业务操作能力、综合管理能力、人际交往能力、持续学习能力。他们熟悉掌握英语技能、产品知识、国际营销知识、国际贸易惯例、外贸法规政策、外贸业务礼仪。他们是上海哲联游走在国际舞台上的一面旗帜.
                                <br>
                                <br>
                                设计师团队:
                                来此购的可持续发展来源于源源不断的设计灵感和不断提升的职业专注力。我们拥有一支充满激情、怀揣梦想的资深设计师团队，他们拥有十多年的专业设计经验，他们拥有国际视野，他们将多元化的目光聚焦在现代设计与中国传统工艺的结合上，他们的设计灵感总能让我们的产品在客户眼前大放异彩。还有一群来自不同艺术专业的助理设计师们，她们朝气蓬勃、团结互助，他们热心工艺品行业，用各自的特长与勤奋设计出一款款精妙绝伦的产品，给公司注入了无限的生机与活力.
                                <br>
                                <br>
                                QC团队:
                                我们拥有高效、高素质、专业的QC团队，他们来自不同地区，每天奔波在各地的合作工厂。他们实行自主管理、自我教育、互相启发、共同提高。他们练就了火眼金睛和不屈不挠的工匠精神。正是他们在前线默默无闻的工作，成就了我们高质量的产品，迎合了顾客的高满意度。</p>
                        </div> <!-- about item -->
                    </div> 
                    <div class="col-lg-4">
                        <div class="about-item mt-30">
                            <h3 class="title"align="Center">我们的团队推荐信</h3>
                            <p>北京来此购，一家由信仰“不将就”的人组成的公司
                                我们酷爱一切精致，愿为美好喝彩
                                如果你恰好也是这样的人
                                那就来吧，一起谱写新的故事.</p>
                            <p><div class="company-environment clearfix">
                            <div class="title" align="Center">公司环境<span></span></div>
                            <ul>
                                <li><img src="assets/images/img-13.jpg" height="180px" width="1200px" class="img-responsive"></li>
                                <li><img src="assets/images/img-14.jpg" height="180px" width="1200px" class="img-responsive"></li>
                                <li><img src="assets/images/img-15.jpg" height="140px" width="1200px" class="img-responsive"></li>
                            </ul>
                        </div>
                            </p>
                        </div> <!-- about item -->
                    </div> 
                </div> <!-- row -->
            </div>  <!-- about items -->
        </div> <!-- container -->
    </section>

    <!--====== About Part Ends ======-->

    <!--====== Brand Part Start ======-->
<br>
<br>

<a data-loc-id="40" target="_blank" class="banner-card b-wrap" href="login01.jsp"><img src="assets/images/img-16.png" width="2000px" alt=""><i class="gg-icon"></i></a>

<br>
<br>
    <!--====== Brand Part Ends ======-->

    <!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="assets/images/banner-icon/icon1.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">免费送货</h3>
                    <p>免费送货对中国所有订单</p>
                </div>
            </div>
            <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="assets/images/banner-icon/icon2.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">支持 24/7</h3>
                    <p>24小时联系我们</p>
                </div>
            </div>
            <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="assets/images/banner-icon/icon3.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">100% 退款</h3>
                    <p>30天内无理由退款</p>
                </div>
            </div>
            <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="assets/images/banner-icon/icon4.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">90天 换货</h3>
                    <p>若货物有任何问题</p>
                </div>
            </div>
            <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="assets/images/banner-icon/icon5.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">安全支付</h3>
                    <p>绝对安全的支付环境</p>
                </div>
            </div>
            <!-- single features banner -->
        </div>
        <!-- features banner wrapper -->
    </div>
    <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->

<!--====== Blog Part Start ======-->

<!--====== Testimonial Part Ends ======-->

<!--====== Newsletter Part Start ======-->

<section class="newsletter-area pt-100 pb-100 bg_cover" style="background-image: url(assets/images/bg-newletter.jpg)">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="newsletter-content">
                    <h2 class="newsletter-title">订阅我们的最新消息</h2>
                    <p>allup 是一个强大的购物市场</p>

                    <div class="newsletter-forn">
                        <form action="#">
                            <input type="text" placeholder="您的电子邮件地址">
                            <button class="main-btn">订阅</button>
                        </form>
                    </div>
                </div>
                <!-- newsletter content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== Newsletter Part Ends ======-->

<!--====== Footer Part Start ======-->

    <jsp:include page="footer.jsp"/>


<!--====== Footer Part Ends ======-->

<!--====== Quick View Part Start ======-->

<!-- Modal -->
<!-- Modal -->

<!--====== Quick View Part Ends ======-->

<!--====== BACK TOP TOP PART START ======-->


<!--====== BACK TOP TOP PART ENDS ======-->



<!--====== Vendors js ======-->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>

<!--====== Plugins js ======-->
<script src="assets/js/plugins/popper.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/plugins/slick.min.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/jquery-ui.min.js"></script>


<!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

<!-- <script src="assets/js/plugins.min.js"></script> -->

<!--====== Main Activation js ======-->
<script src="assets/js/main.js"></script>
<!-- layui 建立并加载入口文件 -->
<script>
    layui.config({
        base: 'assets/js/'
    }).use('house');
</script>

</body>

</html>