<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style type="text/css">
        *{margin: 0;padding: 0}
        html,body{width: 100%;height: 100%}
        h1{text-align: center}
        #media{width: 600px;height: 450px;background-color: blue;margin: 70px auto 0}
        #canvas{display: none}
        #shuru{width: 200px;height: 50px}
    </style>

    <!--====== 收藏夹图标 ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <!-- CSS============================================ -->

    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

<h1>人脸登录</h1>
<!--用户信息-->
<br>
<div style="text-align: center">
    <button class="main-btn" id="register">验证</button>
</div>


<!--摄像头-->
<div id="media">
    <video id="video" width="600px" height="450px" src="" autoplay></video>
    <canvas id="canvas" width="600px" height="450px"></canvas>
</div>
<!--提交-->
<div id="shuru">
    <!--用户名：<input type="text" name="uname" id="uname"/>-->
</div>

<script type="text/javascript" th:src="@{~/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script type="text/javascript">
    var video = document.getElementById("video");
    var userContext=canvas.getContext("2d");
    var getUserMedia=(navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia)
    getUserMedia.call(navigator,{video:true,audio:false},function(localMediaStream) {
        video.srcObject=localMediaStream;
    },function(e){
        alert("获取摄像头失败");
    });

    //点击按钮
    var btn = document.getElementById("register");

    btn.onclick=function(){
        // var username=$("#uname").val();
        // alert(username);
        // if (username != null){
        userContext.drawImage(video,0,0,600,450);
        var userImageSrc=document.getElementById("canvas").toDataURL("img/png");
        var faceBase=userImageSrc.split(",")[1];

        //请求
        $.ajax({
            url:"/faceLogin",
            type:"post",
            data:{
                faceBase:faceBase,
            },
            success:function(result){
                if (result==="SUCCESS"){
                    alert("登录成功");
                    window.location.href="/";
                }else{
                    alert("登录失败");
                }
            }
        });
    }
</script>
</body>

</html>
</script>
