<%--
  Created by IntelliJ IDEA.
  User: jingkang
  Date: 2020/7/16
  Time: 2:53 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" language="java" %>

<%
    request.setAttribute("decorator", "none");
    response.setHeader("Cache-Control","no-cache"); //HTTP 1.1
    response.setHeader("Pragma","no-cache"); //HTTP 1.0
    response.setDateHeader ("Expires", 0); //prevents caching at the proxy server
%>
<html>
<head>
    <title>Title</title>
</head>
<body>
<script type='text/javascript' src='https://ykf-webchat.7moor.com/javascripts/7moorInit.js?accessId=a8f55d20-cf05-11ea-8529-298acfcf52e1&autoShow=true&language=ZHCN' async='async'>
</script>
<div class="pc_qr_code">
    <input type="hidden" id="uuid" value="${uuid}"/>
</div>
<div id="result">请使用手机扫码</div>
</body>
</html>
<script>
    //生成二维码
    !function(){
        var uuid = $("#uuid").val();
        var content;
        content = "..........do?uuid="+uuid;
        //console.dir(content);
        $('.pc_qr_code').qrcode({
            render:"canvas",
            width:200,
            height:200,
            correctLevel:0,
            text:content,
            background:"#ffffff",
            foreground:"black",
            src:"/logo.png"
        });
        setCookie("sid", 123, -1*60*60*1000);
        keepPool();//自动循环调用
    }();

    function keepPool(){
        var uuid = $("#uuid").val();
        $.get(ctx+"/web/login/pool.do",{uuid:uuid,},function(msg){//如果放入一个不存在的网址怎么办?
            //console.log(msg);
            if(msg.successFlag == '1'){
                $("#result").html("扫码成功");
                setCookie(msg.data.cname, msg.data.cvalue, 3*60*60*1000);
                //alert("将跳转...");
                window.location.href = ctx +"/webstage/login/success.do";
            }else if(msg.successFlag == '0'){
                $("#result").html("该二维码已经失效,请重新获取");
            }else{
                keepPool();
            }

        });
    }

    //设置cookie
    function setCookie(cname, cvalue, expireTime) {
        var d = new Date();
        d.setTime(d.getTime() + expireTime);//设置过期时间
        var expires = "expires="+d.toUTCString();
        var path = "path=/"
        document.cookie = cname + "=" + cvalue + "; " + expires + "; " + path;
    }
</script>
